# Arquivos sensíveis
.env
env.php
*.env.php

# Composer
/vendor/

# Cache / Logs
/logs/
 /cache/
 /tmp/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
nbproject/

# Uploads do sistema
/uploads/
storage/

# Arquivos de build
node_modules/
dist/
